* {
  font-size: 62.5%;
}

html {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  width: 1440px;
  height: 10000px;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-top: auto;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  height: 800px;
  background-color: rgb(53, 111, 236);
}

.Header-Page {
  padding-top: 50px;
  display: flex;
}

.nav {
  margin-left: auto;
  margin-right: 200px;
}

.Favicon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Favicon img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 4px;
}

.Favicon__title {
  text-align: right;
}

.Favicon__title h1 {
  font-size: 18px;
  line-height: 14px;
}

.Favicon__title p {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
}

/* Nar */
.Header-Page .nav a {
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #c9d2da;
  padding: 0 20px;
}

.Header-Page .nav a:hover {
  color: #fff;
  font-weight: 600px;
  text-decoration: underline;
}

.btn {
  color: #fff;
  font-size: 20px;
  width: 104px;
  height: 44px;
  border: none;
  border-radius: 22px;
  background-color: rgb(53, 111, 236);
  transition: all 0.5 ease;
  cursor: pointer;
}

.Nar-button button:hover {
  transform: scale(1.2);
  background-color: bisque;
  color: black;
}

/* Header Main Page */
.Header-title {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 50px;
}

.Header-title__Main {
  width: 517px;
  max-height: 420px;
  margin-right: 40px;
  margin-top: 86px;
}

.Header-title__Main h1 {
  font-weight: 600;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -2%;
  color: #ffffff;
  margin-bottom: 22px;
}

.Header-title__Main p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  margin-bottom: 38px;
}

.Header-title__button {
  display: flex;
  gap: 20px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.Header-title__button-1 {
  width: 205px;
  height: 60px;
  background-color: hsl(219, 82%, 63%);
  border-radius: 30px;
}

.Header-title__button span,
a {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

.Header__img {
  display: flex;
}

/* Service */
.Service {
  margin-top: 170px;
  text-align: center;
}

.Service__H2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -2%;
  text-align: center;
  color: #10375c;
}

.Service__P {
  margin: 0 auto;
  width: 468px;
  height: 60px;
  font-weight: 300;
  font-style: Light;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.Service__main-Page {
  display: flex;
  gap: 130px;
}

.Service__img {
  object-fit: cover;
  width: 570px;
  height: 570px;
  margin-top: 70px;
}

.Service__main-Page__title {
  margin-top: 135px;
  width: 470px;
  height: 384px;
  display: block;
  cursor: pointer;
}

.Service__Page1 {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 128px;
  transition: all 1s ease;
}

.Service__Page-Main {
  text-align: left;
}

.service__title__H2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #10375c;
  margin-bottom: 8px;
}

.service__title__P {
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #575f66;
}

.Service-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  height: 60px;
  border-radius: 30px;
  color: #fff;
  background-color: #2e80ce;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all 1s ease;
}

.Service__Page1:hover,
.Service-button:hover {
  transform: scale(1.2) translateY(10px);
}

.how-it-work {
  margin-top: 135px;
}

.how-it-work .h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  color: #2e4bce;
  margin-bottom: 10px;
}

.how-it-work .Work-p {
  font-size: 18px;
  line-height: 28px;
  color: #575f66;
  width: 500px;
}

.Grid-card {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 70px;
  justify-items: center;
}

.card {
  margin: 70px auto;
  max-width: 370px;
  height: 370px;
  text-align: left;
  /* padding: 20px; */
  border: 20px solid rgba(53, 111, 236, 0.1);
  width: 100%;
  transition: transform 0.5s, box-shadow 0.5s;
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(3, 14, 172, 0.5);
  border: 20px solid rgb(53, 111, 236);
}


.card img {
  width: 72px;
  height: 72px;
  margin-top: 43px;
  margin-bottom: 20px;
  object-fit: cover;
  margin-left: 20px;
}

.card .Card-h3 {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #1857cc;
  margin-left: 20px;
}

.card p {
  max-width: 254px;
  margin-left: 20px;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}

.Card-a {
  background-color: #fff;
  color: #575f66;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 16px;
  transition: all 0.5s ease;
}

.Card-a:hover {
  color: #2e80ce;
}

/* About Us */
.about-us {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
}

/* About Us img */
.about-us__img {
  width: 570px;
  height: 491px;
  display: flex;
  position: relative;
}

.pic {
  width: 512px;
  height: 370px;
  /* object-fit: cover; */
  margin-left: -20px;
}

.pic2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 332px;
  height: 370px;
}

.about-us__title {
  width: 470px;
  height: 328px;
  text-align: left;
}

.about-us__H3 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -2%;
  color: rgba(0, 81, 255, 0.884);
  margin-bottom: 10px;
}

.about-us__P {
  font-weight: 300;
  font-style: Light;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  margin-bottom: 38px;
}

.about-us__button {
  width: 205px;
  height: 60px;
  border-radius: 30px;
  color: #fff;
  background-color: #2e80ce;
  font-size: 18px;
  line-height: 30px;
  border: none;
  transition: all 0.5s ease;
}

.about-us__button:hover {
  background-color: aqua;
  color: black;
  text-decoration: underline;
}

/* team */
.Team {
  margin: 200px 0;
  text-align: center;
}

.Team__H4 {
  font-size: 48px;
  ;
  line-height: 56px;
  font-weight: 700;
  color: #2e80ce;
  margin-bottom: 20px;
}

.Team__button {
  width: 200px;
  height: 60px;
  margin-bottom: 30px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  background: #2e80ce;
  color: #fff;
  border: none;
  cursor: pointer;
}

.Team__button:hover {
  background-color: #fff;
  color: #070808;
  border: 2px solid #812d2d;
}

/* Team Grid card */
.Team__Grid-card {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.Team-Card {
  width: 270px;
  height: 384px;
}

.Team-Img {
  width: 270px;
  height: 318px;
  background-color: #EAF6FF;
  margin-bottom: 10px;
  position: relative;
}

.Team-Img img {
  width: 262px;
  position: absolute;
  bottom: 0;
  left: 5px;
  object-fit: cover;
}

.Team-Card h4 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  color: #10375C;
}

.Team__p {
  color: #575f66;
  font-weight: normal;
  font-size: 14px;
}

.Team__Scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 20px;
  margin-top: 20px;
}

.next {
  rotate: 180deg;
  stroke: #812d2d;
}

.Team__Scroll a {
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border: 1px solid black;
  border-radius: 50%;
  color: black;
  /* text-align: center; */

}


.Team__Scroll a:hover {
  background-color: #2e80ce;
  color: wheat;
}

.Team__Scroll img:hover {
  stroke: #6bb937;
}

/* CTA */
.CTA {
  background-color: #2e80ce;
  display: flex;
  margin-right: 70px;
  align-items: center;
  height: 427px;
  position: relative;
  gap: 150px;
  border: 1px solid black;

}

.CTA img {
  margin-bottom: 95px;
  margin-left: 70px;
}

.CTA-Blog {
  margin-right: 70px;
  /* width: 586px; */
  height: 276px;
}

.CTA-h4 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -2%;
  margin-bottom: 18px;
}

.CTA-Blog p {
  text-align: left;
  text-wrap: none;

  font-weight: 300;
  font-style: Light;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 30px;
}